/* theme.css */
:root {
  --r-main-font-size: 36px;
  --r-heading-color: #e76f51; /* 주황색 톤 헤더 */
  --r-main-color: #f4a261;    /* 밝은 주황색 톤 텍스트 */
  --r-link-color: #e9c46a;     /* 노란색 톤 링크 */
}

.reveal .slides section .fragment.highlight-red.visible {
    color: #e76f51;
}
